# LOCALHOST
URL=localhost
BOT_TOKEN=
SCHEME=http
PORT=8065
BOT_USERNAME=feedback
BOT_PUBLIC_URL=http://host.docker.internal:8080
BUTTON_PORT=8080
BUTTON_SECRET=


# Mattermost (прод)
# URL=tag.magnit.ru
# BOT_TOKEN=
# SCHEME=https
# PORT=443
# BOT_USERNAME=feedback
# BOT_PUBLIC_URL=http://<IP_ВМ>:8080
# BUTTON_SECRET=


# gmail OR magnit
MAIL_SYSTEM=gmail


# gmail: сервер/порт зашиты в коде (smtp.gmail.com:587, STARTTLS)
GMAIL_SENDER=
GMAIL_PASSWORD=
GMAIL_RECIPIENT=

# magnit:
MAGNIT_SMTP_SERVER=
MAGNIT_SMTP_PORT=
MAGNIT_SMTP_SECURITY=starttls
MAGNIT_SENDER=
MAGNIT_LOGIN=
MAGNIT_PASSWORD=
MAGNIT_RECIPIENT=
